/*
 * FOUNDATION 6.2:
 * Main color palette is directly set in foundation-site source
 */

$heading-font-color: #EDDEBC !default;

$complementary: #595643;
$complementary-light: #A68549;
$complementary-lightest: #EDDEBC;

$color-active: #e6e6e3;
$color-odd: #fefffe;
$color-even: #fcfdfc;

$color-bg: #f8f6f2;
$color-bg-grey: #F7F2F6;

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;