div(class='modal-background')
    a(class='close-reveal-modal', href='javascript:void(0);', ng-click='cancel()') &times

    div(class='small-12 columns')
        form(data-abide)
            div(class='row')
                h3(i18n='new-coowner')
            div(class='row')
                div(class='small-12 medium-6 columns')
                    input(id='name', name='name', type='text' placeholder='Name', required, pattern='[a-zA-Z0-9]+')
                div(class='small-12 medium-6 columns')
                    input(id='lastName', name='lastName', type='text' placeholder='Last Name', required, pattern='[a-zA-Z0-9]+')
            div(class='row')
                div(class='small-12 medium-6 columns')
                    input(id='email', name='email', type='email' placeholder='E-mail', pattern='[a-zA-Z0-9]+')
                div(class='small-12 medium-6 columns')
                    input(id='phone', name='phone', type='text' placeholder='Phone (fix or mobile)', pattern='[0-9]+')
            div(class='row')
                div(class='small-12 columns')
                    label(i18n='apartment')
                    select(id='apartment', name='apartment', required)
                        option(ng-repeat='apart in apartments', value='{{apart.id}}') Lot {{apart.lot}}: {{apart.address}} {{apart.street}}
            div(class='row buttons-container')
                a(class='button close-reveal-modal icon-cross', href='javascript:void(0);', i18n='cancel')
                button(type='submit', class='success icon-checkmark', i18n='confirm')