div(id="Filters", class="row filters")
    div(class='large-12 columns')
        div(class='panel')

            div(class="large-4 medium-4 small-4 columns")
                label(i18n="apartments")
                div(class="apartments")
                    input(id="All", type="checkbox", checked="true", value="all")
                    label(for="All", i18n="all")
                    div(ng-repeat='apart in apartments')
                        input(id="Apart{{apart.id}}", type="checkbox", value='{{$index}}')
                        label(for="Apart{{apart.id}}") Lot {{apart.lot}}: {{apart.coowners}}

            div(class="large-4 medium-4 small-4 columns period")
                label(i18n="period")
                select(class="period")
                    option(i18n="one week", value="1")
                    option(i18n="two weeks", value="2", selected='true')
                    option(i18n="four weeks", value="4")

            div(class="large-4 medium-4 small-4 columns year")
                label(i18n="year")
                input(id="IYear", type="text")

div(class="row actions")
    div(class='large-12 columns')
        div(class='panel')
            a(class='button', href='javascript:void(0);', i18n="generate", ng-click="generate()")
            a(class='button', href='javascript:void(0);', i18n="save", ng-click="save()")
            a(class='button', href='javascript:void(0);', i18n="load", ng-click="load()")

div(id="Planning", class='row planning')
    div(class='large-12 columns')
        div(class='panel')
            input(type='textfield', class='title', i18n-attr='value:planning')

div(id='loadModal', class='load-modal reveal-modal', ng-show='showLoadModal', data-reveal)
